.home {
    width: 100%;
    height: 100%;
    background-color: #111f37;
    display: flex;
    flex-direction: column;
}

.home-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 40px;
    color: #4a98ff;
    text-shadow: 0 0 4px rgba(74, 152, 255, 0.4),
        0 0 8px rgba(74, 152, 255, 0.3), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.home-content {
    flex: 1;
    height: calc(100% - 60px);
    display: flex;
    padding-right: 10px;
}

.home-content-left {
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #4a98ff;
    border-radius: 8px;
    border-left: none;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}

.left-led {
    height: 100%;
    width: 10px;
    background-color: #4a98ff;
}

.left-list {
    flex: 1;
    overflow-y: auto;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list-item {
    position: relative;
    height: 60px;
    color: #bebebe;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    overflow: hidden;
}

/* 初始背景层 */
.list-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        rgba(44, 54, 74, 0.5),
        rgba(98, 124, 178, 0.3)
    );
    transition: opacity 0.5s ease;
    z-index: 0;
    opacity: 1;
}

/* hover 时的背景层 */
.list-item:hover::before {
    background: linear-gradient(
        to right,
        rgba(14, 51, 84, 0.3),
        rgba(14, 51, 84, 1)
    );
    opacity: 0.8;
}

/* 激活时的背景 */
.list-item.active::before {
    background: linear-gradient(
        to right,
        rgba(14, 51, 84, 0.3),
        rgba(14, 51, 84, 1)
    );
    opacity: 1;
}
.active {
    color: #4a98ff;
}

/* 内容层 */
.list-item > * {
    position: relative;
    z-index: 1;
}

.item-led {
    width: 12px;
    height: 100%;
    background-color: #5dbeffe7;
    margin-right: 20px;
}

.home-content-right {
    flex: 1;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
}

.right-gx {
    flex: 1.2;
    max-height: 60%;
    box-sizing: border-box;
    border: 1px solid #4a98ff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    align-items: center;
}
.gx-options {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.option-left {
    display: flex;
    gap: 10px;
}
.option-import,
.option-setting {
    font-size: 16px;
    color: #ffffff;
    background-color: #1a5589;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    position: relative;
}
.option-import:hover,
.option-setting:hover {
    background-color: #0e4569;
}
.setting-panel {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    background-color: #1a5589;
    border: 1px solid #4a98ff;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1000;
    opacity: 0.9;
}
.setting-panel:hover {
    cursor: default;
}
.setting-item {
    display: flex;
}
.setting-selects {
    flex: 1;
    display: flex;
    justify-content: space-around;
}
.item-value,
.item-value-active {
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
}
.item-value:hover,
.item-value-active:hover {
    background-color: #005f80;
}
.item-value-active {
    background-color: #0073a8;
}
.setting-close {
    margin-left: auto;
    background-color: #0fbd2c;
    color: #ffffff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
}
.setting-close:hover {
    background-color: #008040;
}

.option-name {
    font-size: 24px;
    color: #4a98ff;
    font-weight: bold;
}
.option-time {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 16px;
}
.time-value {
    background-color: #1a5589;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    position: relative;
}
.time-value:hover {
    background-color: #0e4569;
}

.timeSetting-panel {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    background-color: #1a5589;
    border: 1px solid #4a98ff;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    z-index: 1000;
    opacity: 0.9;
}
.timeSetting-panel:hover {
    cursor: default;
}
.timeSetting-item {
    display: flex;
    align-items: center;
    gap: 4px;
}
.timeSetting-item select {
    width: 100px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    background-color: #005f80;
    border-radius: 4px;
}
.timeSetting-close {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timeSetting-close-cancel,
.timeSetting-close-confirm {
    background-color: #0fbd2c;
    text-align: center;
    padding: 2px 12px;
    border-radius: 6px;
    cursor: pointer;
}
.timeSetting-close-cancel {
    background-color: #ff4d4d;
}

.gx-grid {
    width: 100%;
    height: 50%;
    display: flex;
    gap: 10px;
}
.gx-tips {
    display: flex;
    align-items: center;
    gap: 5px;
}
.tip-color {
    width: 10px;
    height: 80%;
    border-radius: 6px;
    background: linear-gradient(
        to bottom,
        rgb(77, 166, 255),
        /* 浅蓝 */ rgb(0, 255, 255),
        /* 青 */ rgb(255, 255, 0),
        /* 黄 */ rgb(255, 0, 0) /* 红 */
    );
}
.tip-text {
    width: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #ffffff;
}
.tip-text-blue {
    color: #619eee;
}
.tip-text-red {
    color: #ff4d4d;
}

.gx-chart {
    width: 100%;
    flex: 1;
}

.right-camera {
    flex: 0.8;
    max-height: 40%;
    box-sizing: border-box;
    border: 1px solid #4a98ff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
}

.camera-options {
    display: flex;
    justify-content: space-between;
}
.option-timefilter {
    display: flex;
}
.timefilter-all,
.timefilter-filter {
    background-color: #0e4569;
    padding: 6px 12px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.timefilter-all:hover,
.timefilter-filter:hover {
    background-color: #1a5589;
}
.timefilter-all {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.timefilter-filter {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.timefilter-active {
    color: #ffffff;
    border: 1px solid #4394d7;
    background-color: #1a5589;
}

.option-selectCamera {
    font-size: 16px;
    color: #ffffff;
    background-color: #1a5589;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.option-selectCamera:hover {
    background-color: #0e4569;
}

.selectCamera-panel {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    background-color: #1a5589;
    border: 1px solid #4a98ff;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1000;
    opacity: 0.9;
    cursor: default;
}

.camera-item {
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #4affe1;
    text-align: center;
}

.camera-active {
    background-color: #0073a8;
}
.camera-chart {
    width: 100%;
    flex: 1;
}
