.home {
    width: 100%;
    height: 100%;
    background-color: #111F37;
    display: flex;
    flex-direction: column;
}

.home-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 40px;
    color: #4A98FF;
    text-shadow:
        0 0 4px rgba(74, 152, 255, 0.4),
        0 0 8px rgba(74, 152, 255, 0.3),
        0 2px 4px rgba(0, 0, 0, 0.2);
}

.home-content {
    flex: 1;
    display: flex;
    padding-right: 10px;
}

.home-content-left {
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #4A98FF;
    border-radius: 8px;
    border-left: none;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}

.left-led {
    height: 100%;
    width: 10px;
    background-color: #4A98FF;
}

.left-list {
    flex: 1;
    overflow-y: auto;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.list-item {
    position: relative;
    height: 60px;
    color: #BEBEBE;
    font-size: 22px;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    overflow: hidden;
}

/* 初始背景层 */
.list-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(44, 54, 74, 0.5), rgba(98, 124, 178, 0.3));
    transition: opacity 0.5s ease;
    z-index: 0;
    opacity: 1;
}

/* hover 时的背景层 */
.list-item:hover::before {
    background: linear-gradient(to right, rgba(14, 51, 84, 0.3), rgba(14, 51, 84, 1));
    opacity: 0.8;
}

/* 激活时的背景 */
.list-item.active::before {
    background: linear-gradient(to right, rgba(14, 51, 84, 0.3), rgba(14, 51, 84, 1));
    opacity: 1;
}
.active{
    color: #4A98FF;
}

/* 内容层 */
.list-item>* {
    position: relative;
    z-index: 1;
}

.item-led {
    width: 12px;
    height: 100%;
    background-color: #5dbeffe7;
    margin-right: 20px;
}

.home-content-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 10px;
}

.right-gx {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid #4A98FF;
    border-radius: 8px;
}

.right-camera {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid #4A98FF;
    border-radius: 8px;
}