.heat-square {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    position: relative;
    font-size: 12px;
    color: #ffffff8a;
}
.heat-square:hover {
    transform: scale(1.08);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.heat-square span {
    position: absolute;
    line-height: 1;
    top: 0px;
    left: 0px;
}

.selected {
    box-shadow: 0 0 12px 2px rgba(0, 255, 200, 0.6);
    border: 2px solid #00ffc8;
    transform: scale(1.2);
    z-index: 10;
}

.heat-tooltip {
    position: fixed;
    background: rgba(0, 134, 167, 0.8);
    color: #fff;
    font-size: 13px;
    padding: 6px 10px;
    border-radius: 6px;
    pointer-events: none;
    z-index: 9999;
    white-space: nowrap;
    transform: translate(-50%, -100%);
}

.lighting {
    box-shadow: 0 0 12px 2px #ff6abc98;
    border: 2px solid #ff6abc;
    transform: scale(1.2);
    z-index: 10;
    animation: glow 1.6s ease-in-out infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 8px 2px rgba(255, 0, 140, 0.4);
    }
    50% {
        box-shadow: 0 0 18px 6px rgba(255, 0, 140, 0.9);
    }
    100% {
        box-shadow: 0 0 8px 2px rgba(255, 0, 140, 0.4);
    }
}
